@keyframes answerOrbit1 {
	from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
	to   { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}
@keyframes answerOrbit2 {
	from { transform: rotate(360deg) translateY(13px) rotate(-360deg); }
	to   { transform: rotate(0deg) translateY(13px) rotate(0deg); }
}
@keyframes answerOrbit3 {
	from { transform: rotate(360deg) translateX(15px) rotate(-360deg); }
	to   { transform: rotate(0deg) translateX(15px) rotate(0deg); }
}


@keyframes answerColor1 {
	0%   { background-color: rgba(59, 207, 249, .85); }
	17%  { background-color: rgba(59, 197, 249, .85); }
	33%  { background-color: rgba(43, 191, 240, .85); }
	50%  { background-color: rgba(43, 206, 240, .85); }
	67%  { background-color: rgba(43, 199, 232, .85); }
	83%  { background-color: rgba(43, 208, 232, .85); }
	100% { background-color: rgba(59, 207, 249, .85); }
}
@keyframes answerColor2 {
	0%   { background-color: rgba(43, 206, 240, .85); }
	17%  { background-color: rgba(43, 199, 232, .85); }
	33%  { background-color: rgba(43, 208, 232, .85); }
	50%  { background-color: rgba(59, 207, 249, .85); }
	67%  { background-color: rgba(59, 207, 249, .85); }
	83%  { background-color: rgba(59, 197, 249, .85); }
	100% { background-color: rgba(43, 206, 240, .85); }
}
@keyframes answerColor3 {
	0%   { background-color: rgba(59, 207, 249, .85); }
	17%  { background-color: rgba(43, 208, 232, .85); }
	33%  { background-color: rgba(43, 199, 232, .85); }
	50%  { background-color: rgba(43, 206, 240, .85); }
	67%  { background-color: rgba(43, 191, 240, .85); }
	83%  { background-color: rgba(59, 197, 249, .85); }
	100% { background-color: rgba(59, 207, 249, .85); }
}


@keyframes answerColor4 {
	0%   { background-color: rgba(43, 208, 232, .85); }
	17%  { background-color: rgba(59, 207, 249, .85); }
	33%  { background-color: rgba(59, 207, 249, .85); }
	50%  { background-color: rgba(59, 197, 249, .85); }
	67%  { background-color: rgba(43, 191, 240, .85); }
	83%  { background-color: rgba(43, 206, 240, .85); }
	100% { background-color: rgba(43, 208, 232, .85); }
}


@keyframes answerColor5 {
	0%   { background-color: rgba(43, 206, 240, .85); }
	17%  { background-color: rgba(43, 191, 240, .85); }
	33%  { background-color: rgba(59, 197, 249, .85); }
	50%  { background-color: rgba(59, 207, 249, .85); }
	67%  { background-color: rgba(59, 207, 249, .85); }
	83%  { background-color: rgba(43, 208, 232, .85); }
	100% { background-color: rgba(43, 206, 240, .85); }
}


.answer-behavior-1 {
	animation: answerColor1 6s infinite linear, answerOrbit1 14s infinite ease;
}
.answer-behavior-2 {
	animation: answerColor2 8s infinite linear, answerOrbit1 15s infinite ease;
}
.answer-behavior-3 {
	animation: answerColor3 7s infinite linear, answerOrbit2 12s infinite ease;
}
.answer-behavior-4 {
	animation: answerColor4 9s infinite linear, answerOrbit2 8s infinite ease;
}
.answer-behavior-5 {
	animation: answerColor5 7s infinite linear, answerOrbit3 13s infinite ease;
}


.answer-behavior-1.fail {
	animation: answerOrbit1 14s infinite ease;
}
.answer-behavior-2.fail {
	animation: answerOrbit1 15s infinite ease;
}
.answer-behavior-3.fail {
	animation: answerOrbit2 12s infinite ease;
}
.answer-behavior-4.fail {
	animation: answerOrbit2 8s infinite ease;
}
.answer-behavior-5.fail {
	animation: answerOrbit3 13s infinite ease;
}
