html,
body {
	height: 100%;
	font: normal 21px/25px 'co_text_corp', Arial, sans-serif;
}

body {
    background: #4cd6eb;
}


.scene {
	width: 1280px;
	height: 680px;
	position: relative;
	background: #4cd6eb;
	margin: auto;
}

.bubble {
	position: absolute;
	display: table;
	border-radius: 50%;
	margin: -79px 0 0 -79px;
}

.bubble span {
	position: relative;
	z-index: 100;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
	text-shadow: 2px 1px 7px #f6f5c1;
}

.bubble-question {
	position: absolute;
	width: 250px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin: -125px 0 0 -125px;
	transition: all .5s ease;
	z-index: 100;
}

.bubble-question:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 214px;
	height: 214px;
	background: url('../img/question.png') 50% 50% no-repeat;
	background-size: 125%;
	box-shadow: 0 0 35px #ff7800;
	border-radius: 50%;
	margin: auto;

	transition: all .5s ease;
}

.bubble-question.over:before {
	background-size: 100%;
	width: 246px;
	height: 246px;
}

.bubble-question span {
	background: url('../img/logo.svg') 50% 50% no-repeat;
	background-size: 60%;

	transition: all .5s ease;

	transform: scale(1);
}

.bubble-question.over span {
	transform: scale(1.1);
}

.bubble-answer {
	position: absolute;
	background: #2bbdf4 url('../img/answer-mask.png') 50% 50% no-repeat;
	color: #fff;
	font-size: 21px;
	padding: 5px 5px 10px 5px;
	width: 158px;
	height: 158px;
	letter-spacing: -.005em;
	box-sizing: border-box;

	cursor: pointer;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: -o-grab;

	transition:         all .5s ease;
}
.bubble-answer.ui-draggable-dragging {
	box-shadow: 0 0 5px 3px #aafaff;

	cursor: pointer;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: -o-grabbing;
}
.bubble-answer.fail {
	box-shadow: 0 0 25px 10px #fb4a56 !important;
	background-color: #fb4a56 !important;
}

.bubble-answer.ui-draggable-dragging {
	transition: none;
}

.bubble-position-1 {
	left: 25%;
	top: 15%;
}

.bubble-position-2 {
	left: 80%;
	top: 15%;
}

.bubble-position-3 {
	left: 80%;
	top: 80%;
}

.bubble-position-4 {
	left: 20%;
	top: 85%;
}

.bubble-position-5 {
	left: 10%;
	top: 50%;
}

.bubble-answer.selected {
	top: 50% !important;
	left: 50% !important;
	opacity: 0;

	transition: all .5s ease;
}

.bubble-answer.ui-draggable-dragging {
	z-index: 1000 !important;
}


.question-answers {
	position: absolute;
	border-radius: 50%;
	margin: -228px 0 0 -228px;
	width: 456px;
	height: 456px;
	top: 50%;
	left: 50%;
}

.question-answer {
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	width: 456px;
	height: 456px;
}

.question-answer i {
	display: block;
	border-radius: 50%;
	position: relative;
}

.question-answer b {
	display: block;
	border-radius: 50%;
	position: absolute;
	z-index: 35;
	font-weight: normal;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.answer-1 b {
	width: 276px;
	height: 276px;
	animation:         spin1 30s infinite linear;
}
.answer-1 i {
	animation:         myOrbit 30s infinite linear;
}

.answer-2 b {
	width: 352px;
	height: 352px;
	animation:         spin2 30s infinite linear;
}
.answer-2 i {
	animation:         myOrbit2 30s infinite linear;
}

.answer-3 b {
	width: 430px;
	height: 430px;
	animation:         spin3 30s infinite linear;
}
.answer-3 i {
	animation:         myOrbit3 30s infinite linear;
}

.answer-1 i {
	background: url("../img/answer-1.png") 50% 50% no-repeat;
	width: 286px;
	height: 286px;
	box-shadow: 2px -1px 24px #d6ffe0;
	z-index: 30;
	margin: 85px 0 0 85px;
}

.answer-2 i {
	background: url("../img/answer-2.png") 50% 50% no-repeat;
	width: 368px;
	height: 368px;
	box-shadow: 2px -1px 24px #4f8dff;
	z-index: 20;
	margin: 44px 0 0 44px;
}

.answer-3 i {
	background: url("../img/answer-3.png") 50% 50% no-repeat;
	width: 456px;
	height: 456px;
	box-shadow: 2px -1px 24px #586dec;
	z-index: 10;
	margin: 10px 0 0 0;
}

.question-answers .question-answer {
	font-size: 21px;
	text-shadow: 2px 1px 7px #f6f5c1;
	color: #fff;
	transition: all .5s ease;
	transform: scale(0);
}

.question-answers[data-state="1"] .answer-1,
.question-answers[data-state="2"] .answer-1,
.question-answers[data-state="2"] .answer-2,
.question-answers[data-state="3"] .answer-1,
.question-answers[data-state="3"] .answer-2,
.question-answers[data-state="3"] .answer-3 {
	transform: scale(1);
}

@keyframes spin1 {
	0% { transform: rotate(90deg); }
	100% { transform: rotate(450deg); }
}
@keyframes spin2 {
	0% { transform: rotate(0deg) translateX(12px) rotate(900deg); }
	100% { transform: rotate(360deg) translateX(12px) rotate(180deg); }
}
@keyframes spin3 {
	0% { transform: rotate(360deg) translateY(12px) rotate(90deg); }
	100% { transform: rotate(0deg) translateY(12px) rotate(810deg); }
}


@keyframes myOrbit {
	from { transform: rotate(0deg) translateX(12px) rotate(0deg); }
	to   { transform: rotate(360deg) translateX(12px) rotate(-360deg); }
}
@keyframes myOrbit2 {
	from { transform: rotate(0deg) translateY(12px) rotate(0deg); }
	to   { transform: rotate(-360deg) translateY(12px) rotate(360deg); }
}
@keyframes myOrbit3 {
	from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
	to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}


@media (max-width: 1280px) {
	.scene {
		width: 1024px;
	}
}
