/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html, button, input, select, textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: 0; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p, pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before, q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu, ol, ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */ }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 10, 2015 */
@font-face {
  font-family: 'co_text_corp';
  src: url('fonts/Co Text Corp Bold-webfont.eot');
  src: url('fonts/Co Text Corp Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Co Text Corp Bold-webfont.woff2') format('woff2'), url('fonts/Co Text Corp Bold-webfont.woff') format('woff'), url('fonts/Co Text Corp Bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'co_text_corp';
  src: url('fonts/Co Text Corp Light-webfont.eot');
  src: url('fonts/Co Text Corp Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Co Text Corp Light-webfont.woff2') format('woff2'), url('fonts/Co Text Corp Light-webfont.woff') format('woff'), url('fonts/Co Text Corp Light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'co_text_corp';
  src: url('fonts/Co Text Corp-webfont.eot');
  src: url('fonts/Co Text Corp-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Co Text Corp-webfont.woff2') format('woff2'), url('fonts/Co Text Corp-webfont.woff') format('woff'), url('fonts/Co Text Corp-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, button, input, select, textarea {
  color: #555; }

html {
  font-size: 16px;
  line-height: 1.5em;
  background: #fff; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio, canvas, img, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

html, body {
  height: 100%;
  font: normal 21px/25px 'co_text_corp', Arial, sans-serif; }

body {
  background: #4cd6eb; }

.scene {
  width: 1280px;
  height: 680px;
  position: relative;
  background: #4cd6eb;
  margin: auto; }

.bubble {
  position: absolute;
  display: table;
  border-radius: 50%;
  margin: -79px 0 0 -79px; }

.bubble span {
  position: relative;
  z-index: 100;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  text-shadow: 2px 1px 7px #f6f5c1; }

.bubble-question {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  z-index: 100; }

.bubble-question:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 214px;
  height: 214px;
  background: url('../img/question.png') 50% 50% no-repeat;
  background-size: 125%;
  box-shadow: 0 0 35px #ff7800;
  border-radius: 50%;
  margin: auto;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }

.bubble-question.over:before {
  background-size: 100%;
  width: 246px;
  height: 246px; }

.bubble-question span {
  background: url('../img/logo.svg') 50% 50% no-repeat;
  background-size: 60%;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.bubble-question.over span {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.bubble-answer {
  position: absolute;
  background: #2bbdf4 url('../img/answer-mask.png') 50% 50% no-repeat;
  color: #fff;
  font-size: 21px;
  padding: 5px 5px 10px 5px;
  width: 158px;
  height: 158px;
  letter-spacing: -.005em;
  box-sizing: border-box;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: -o-grab;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }

.bubble-answer.ui-draggable-dragging {
  box-shadow: 0 0 5px 3px #aafaff;
  cursor: pointer;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing; }

.bubble-answer.fail {
  box-shadow: 0 0 25px 10px #fb4a56 !important;
  background-color: #fb4a56 !important; }

.bubble-answer.ui-draggable-dragging {
  -webkit-transition: none;
          transition: none; }

.bubble-position-1 {
  left: 25%;
  top: 15%; }

.bubble-position-2 {
  left: 80%;
  top: 15%; }

.bubble-position-3 {
  left: 80%;
  top: 80%; }

.bubble-position-4 {
  left: 20%;
  top: 85%; }

.bubble-position-5 {
  left: 10%;
  top: 50%; }

.bubble-answer.selected {
  top: 50% !important;
  left: 50% !important;
  opacity: 0;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }

.bubble-answer.ui-draggable-dragging {
  z-index: 1000 !important; }

.question-answers {
  position: absolute;
  border-radius: 50%;
  margin: -228px 0 0 -228px;
  width: 456px;
  height: 456px;
  top: 50%;
  left: 50%; }

.question-answer {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  width: 456px;
  height: 456px; }

.question-answer i {
  display: block;
  border-radius: 50%;
  position: relative; }

.question-answer b {
  display: block;
  border-radius: 50%;
  position: absolute;
  z-index: 35;
  font-weight: normal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.answer-1 b {
  width: 276px;
  height: 276px;
  -webkit-animation: spin1 30s infinite linear;
          animation: spin1 30s infinite linear; }

.answer-1 i {
  -webkit-animation: myOrbit 30s infinite linear;
          animation: myOrbit 30s infinite linear; }

.answer-2 b {
  width: 352px;
  height: 352px;
  -webkit-animation: spin2 30s infinite linear;
          animation: spin2 30s infinite linear; }

.answer-2 i {
  -webkit-animation: myOrbit2 30s infinite linear;
          animation: myOrbit2 30s infinite linear; }

.answer-3 b {
  width: 430px;
  height: 430px;
  -webkit-animation: spin3 30s infinite linear;
          animation: spin3 30s infinite linear; }

.answer-3 i {
  -webkit-animation: myOrbit3 30s infinite linear;
          animation: myOrbit3 30s infinite linear; }

.answer-1 i {
  background: url("../img/answer-1.png") 50% 50% no-repeat;
  width: 286px;
  height: 286px;
  box-shadow: 2px -1px 24px #d6ffe0;
  z-index: 30;
  margin: 85px 0 0 85px; }

.answer-2 i {
  background: url("../img/answer-2.png") 50% 50% no-repeat;
  width: 368px;
  height: 368px;
  box-shadow: 2px -1px 24px #4f8dff;
  z-index: 20;
  margin: 44px 0 0 44px; }

.answer-3 i {
  background: url("../img/answer-3.png") 50% 50% no-repeat;
  width: 456px;
  height: 456px;
  box-shadow: 2px -1px 24px #586dec;
  z-index: 10;
  margin: 10px 0 0 0; }

.question-answers .question-answer {
  font-size: 21px;
  text-shadow: 2px 1px 7px #f6f5c1;
  color: #fff;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

.question-answers[data-state="1"] .answer-1, .question-answers[data-state="2"] .answer-1, .question-answers[data-state="2"] .answer-2, .question-answers[data-state="3"] .answer-1, .question-answers[data-state="3"] .answer-2, .question-answers[data-state="3"] .answer-3 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

  100% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@keyframes spin1 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

  100% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg) translateX(12px) rotate(900deg);
            transform: rotate(0deg) translateX(12px) rotate(900deg); }

  100% {
    -webkit-transform: rotate(360deg) translateX(12px) rotate(180deg);
            transform: rotate(360deg) translateX(12px) rotate(180deg); } }

@keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg) translateX(12px) rotate(900deg);
            transform: rotate(0deg) translateX(12px) rotate(900deg); }

  100% {
    -webkit-transform: rotate(360deg) translateX(12px) rotate(180deg);
            transform: rotate(360deg) translateX(12px) rotate(180deg); } }

@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(360deg) translateY(12px) rotate(90deg);
            transform: rotate(360deg) translateY(12px) rotate(90deg); }

  100% {
    -webkit-transform: rotate(0deg) translateY(12px) rotate(810deg);
            transform: rotate(0deg) translateY(12px) rotate(810deg); } }

@keyframes spin3 {
  0% {
    -webkit-transform: rotate(360deg) translateY(12px) rotate(90deg);
            transform: rotate(360deg) translateY(12px) rotate(90deg); }

  100% {
    -webkit-transform: rotate(0deg) translateY(12px) rotate(810deg);
            transform: rotate(0deg) translateY(12px) rotate(810deg); } }

@-webkit-keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(12px) rotate(0deg);
            transform: rotate(0deg) translateX(12px) rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg) translateX(12px) rotate(-360deg);
            transform: rotate(360deg) translateX(12px) rotate(-360deg); } }

@keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(12px) rotate(0deg);
            transform: rotate(0deg) translateX(12px) rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg) translateX(12px) rotate(-360deg);
            transform: rotate(360deg) translateX(12px) rotate(-360deg); } }

@-webkit-keyframes myOrbit2 {
  from {
    -webkit-transform: rotate(0deg) translateY(12px) rotate(0deg);
            transform: rotate(0deg) translateY(12px) rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg) translateY(12px) rotate(360deg);
            transform: rotate(-360deg) translateY(12px) rotate(360deg); } }

@keyframes myOrbit2 {
  from {
    -webkit-transform: rotate(0deg) translateY(12px) rotate(0deg);
            transform: rotate(0deg) translateY(12px) rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg) translateY(12px) rotate(360deg);
            transform: rotate(-360deg) translateY(12px) rotate(360deg); } }

@-webkit-keyframes myOrbit3 {
  from {
    -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg);
            transform: rotate(0deg) translateX(20px) rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg);
            transform: rotate(360deg) translateX(20px) rotate(-360deg); } }

@keyframes myOrbit3 {
  from {
    -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg);
            transform: rotate(0deg) translateX(20px) rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg);
            transform: rotate(360deg) translateX(20px) rotate(-360deg); } }

@media (max-width: 1280px) {
  .scene {
    width: 1024px; } }

@-webkit-keyframes answerOrbit1 {
  from {
    -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg);
            transform: rotate(0deg) translateX(10px) rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg);
            transform: rotate(360deg) translateX(10px) rotate(-360deg); } }

@keyframes answerOrbit1 {
  from {
    -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg);
            transform: rotate(0deg) translateX(10px) rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg);
            transform: rotate(360deg) translateX(10px) rotate(-360deg); } }

@-webkit-keyframes answerOrbit2 {
  from {
    -webkit-transform: rotate(360deg) translateY(13px) rotate(-360deg);
            transform: rotate(360deg) translateY(13px) rotate(-360deg); }

  to {
    -webkit-transform: rotate(0deg) translateY(13px) rotate(0deg);
            transform: rotate(0deg) translateY(13px) rotate(0deg); } }

@keyframes answerOrbit2 {
  from {
    -webkit-transform: rotate(360deg) translateY(13px) rotate(-360deg);
            transform: rotate(360deg) translateY(13px) rotate(-360deg); }

  to {
    -webkit-transform: rotate(0deg) translateY(13px) rotate(0deg);
            transform: rotate(0deg) translateY(13px) rotate(0deg); } }

@-webkit-keyframes answerOrbit3 {
  from {
    -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);
            transform: rotate(360deg) translateX(15px) rotate(-360deg); }

  to {
    -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg);
            transform: rotate(0deg) translateX(15px) rotate(0deg); } }

@keyframes answerOrbit3 {
  from {
    -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);
            transform: rotate(360deg) translateX(15px) rotate(-360deg); }

  to {
    -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg);
            transform: rotate(0deg) translateX(15px) rotate(0deg); } }

@-webkit-keyframes answerColor1 {
  0% {
    background-color: rgba(59, 207, 249, 0.85); }

  17% {
    background-color: rgba(59, 197, 249, 0.85); }

  33% {
    background-color: rgba(43, 191, 240, 0.85); }

  50% {
    background-color: rgba(43, 206, 240, 0.85); }

  67% {
    background-color: rgba(43, 199, 232, 0.85); }

  83% {
    background-color: rgba(43, 208, 232, 0.85); }

  100% {
    background-color: rgba(59, 207, 249, 0.85); } }

@keyframes answerColor1 {
  0% {
    background-color: rgba(59, 207, 249, 0.85); }

  17% {
    background-color: rgba(59, 197, 249, 0.85); }

  33% {
    background-color: rgba(43, 191, 240, 0.85); }

  50% {
    background-color: rgba(43, 206, 240, 0.85); }

  67% {
    background-color: rgba(43, 199, 232, 0.85); }

  83% {
    background-color: rgba(43, 208, 232, 0.85); }

  100% {
    background-color: rgba(59, 207, 249, 0.85); } }

@-webkit-keyframes answerColor2 {
  0% {
    background-color: rgba(43, 206, 240, 0.85); }

  17% {
    background-color: rgba(43, 199, 232, 0.85); }

  33% {
    background-color: rgba(43, 208, 232, 0.85); }

  50% {
    background-color: rgba(59, 207, 249, 0.85); }

  67% {
    background-color: rgba(59, 207, 249, 0.85); }

  83% {
    background-color: rgba(59, 197, 249, 0.85); }

  100% {
    background-color: rgba(43, 206, 240, 0.85); } }

@keyframes answerColor2 {
  0% {
    background-color: rgba(43, 206, 240, 0.85); }

  17% {
    background-color: rgba(43, 199, 232, 0.85); }

  33% {
    background-color: rgba(43, 208, 232, 0.85); }

  50% {
    background-color: rgba(59, 207, 249, 0.85); }

  67% {
    background-color: rgba(59, 207, 249, 0.85); }

  83% {
    background-color: rgba(59, 197, 249, 0.85); }

  100% {
    background-color: rgba(43, 206, 240, 0.85); } }

@-webkit-keyframes answerColor3 {
  0% {
    background-color: rgba(59, 207, 249, 0.85); }

  17% {
    background-color: rgba(43, 208, 232, 0.85); }

  33% {
    background-color: rgba(43, 199, 232, 0.85); }

  50% {
    background-color: rgba(43, 206, 240, 0.85); }

  67% {
    background-color: rgba(43, 191, 240, 0.85); }

  83% {
    background-color: rgba(59, 197, 249, 0.85); }

  100% {
    background-color: rgba(59, 207, 249, 0.85); } }

@keyframes answerColor3 {
  0% {
    background-color: rgba(59, 207, 249, 0.85); }

  17% {
    background-color: rgba(43, 208, 232, 0.85); }

  33% {
    background-color: rgba(43, 199, 232, 0.85); }

  50% {
    background-color: rgba(43, 206, 240, 0.85); }

  67% {
    background-color: rgba(43, 191, 240, 0.85); }

  83% {
    background-color: rgba(59, 197, 249, 0.85); }

  100% {
    background-color: rgba(59, 207, 249, 0.85); } }

@-webkit-keyframes answerColor4 {
  0% {
    background-color: rgba(43, 208, 232, 0.85); }

  17% {
    background-color: rgba(59, 207, 249, 0.85); }

  33% {
    background-color: rgba(59, 207, 249, 0.85); }

  50% {
    background-color: rgba(59, 197, 249, 0.85); }

  67% {
    background-color: rgba(43, 191, 240, 0.85); }

  83% {
    background-color: rgba(43, 206, 240, 0.85); }

  100% {
    background-color: rgba(43, 208, 232, 0.85); } }

@keyframes answerColor4 {
  0% {
    background-color: rgba(43, 208, 232, 0.85); }

  17% {
    background-color: rgba(59, 207, 249, 0.85); }

  33% {
    background-color: rgba(59, 207, 249, 0.85); }

  50% {
    background-color: rgba(59, 197, 249, 0.85); }

  67% {
    background-color: rgba(43, 191, 240, 0.85); }

  83% {
    background-color: rgba(43, 206, 240, 0.85); }

  100% {
    background-color: rgba(43, 208, 232, 0.85); } }

@-webkit-keyframes answerColor5 {
  0% {
    background-color: rgba(43, 206, 240, 0.85); }

  17% {
    background-color: rgba(43, 191, 240, 0.85); }

  33% {
    background-color: rgba(59, 197, 249, 0.85); }

  50% {
    background-color: rgba(59, 207, 249, 0.85); }

  67% {
    background-color: rgba(59, 207, 249, 0.85); }

  83% {
    background-color: rgba(43, 208, 232, 0.85); }

  100% {
    background-color: rgba(43, 206, 240, 0.85); } }

@keyframes answerColor5 {
  0% {
    background-color: rgba(43, 206, 240, 0.85); }

  17% {
    background-color: rgba(43, 191, 240, 0.85); }

  33% {
    background-color: rgba(59, 197, 249, 0.85); }

  50% {
    background-color: rgba(59, 207, 249, 0.85); }

  67% {
    background-color: rgba(59, 207, 249, 0.85); }

  83% {
    background-color: rgba(43, 208, 232, 0.85); }

  100% {
    background-color: rgba(43, 206, 240, 0.85); } }

.answer-behavior-1 {
  -webkit-animation: answerColor1 6s infinite linear, answerOrbit1 14s infinite ease;
          animation: answerColor1 6s infinite linear, answerOrbit1 14s infinite ease; }

.answer-behavior-2 {
  -webkit-animation: answerColor2 8s infinite linear, answerOrbit1 15s infinite ease;
          animation: answerColor2 8s infinite linear, answerOrbit1 15s infinite ease; }

.answer-behavior-3 {
  -webkit-animation: answerColor3 7s infinite linear, answerOrbit2 12s infinite ease;
          animation: answerColor3 7s infinite linear, answerOrbit2 12s infinite ease; }

.answer-behavior-4 {
  -webkit-animation: answerColor4 9s infinite linear, answerOrbit2 8s infinite ease;
          animation: answerColor4 9s infinite linear, answerOrbit2 8s infinite ease; }

.answer-behavior-5 {
  -webkit-animation: answerColor5 7s infinite linear, answerOrbit3 13s infinite ease;
          animation: answerColor5 7s infinite linear, answerOrbit3 13s infinite ease; }

.answer-behavior-1.fail {
  -webkit-animation: answerOrbit1 14s infinite ease;
          animation: answerOrbit1 14s infinite ease; }

.answer-behavior-2.fail {
  -webkit-animation: answerOrbit1 15s infinite ease;
          animation: answerOrbit1 15s infinite ease; }

.answer-behavior-3.fail {
  -webkit-animation: answerOrbit2 12s infinite ease;
          animation: answerOrbit2 12s infinite ease; }

.answer-behavior-4.fail {
  -webkit-animation: answerOrbit2 8s infinite ease;
          animation: answerOrbit2 8s infinite ease; }

.answer-behavior-5.fail {
  -webkit-animation: answerOrbit3 13s infinite ease;
          animation: answerOrbit3 13s infinite ease; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	 * Don't show links for images, or javascript/internal links
	 */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }